<div class="wrapper">
  <div class="base">
    <div class="base-inner">
      <div class="base-header">
        <h1>All Games</h1>
      </div>
      <%= render :partial => @levels, :as => :game %>
    </div>
  </div>
</div>
