<div class="wrapper">
  <div class="base">
    <div class="base-inner">
      <div class="base-header">
        <h1><%= @user.username %>'s levels</h1>
      </div>
      <%= render :partial => @user.games, :as => :game %>
    </div>
  </div>
</div>