<%= react_component("LevelForm", {name: @game.name || "", token: @game.token || ""}, :class => 'level-form') %>
<%= react_component("LevelEditor", {map: @game.map}, :class => 'level') %>
<%= content_for :navigation do %>
<span></span>
<% end %>